/* Este codigo limpiar los formatos */

* {
    margin: 0;
    padding: 0;
}

.menu-izquierda {

    background:brown;
    width: 100%;
    height: 125px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.menu-izquierda.img {

    width: 20px;

}

